<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
     throwConfigExceptions="true"
     internalLogLevel="Off">

    <targets async="true">
        <target type="File" name="logfile" fileName="logs/log.txt" layout="${longdate} ${level:uppercase=true} ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>
